<nz-layout>
  <nz-header>
    <div class="logo">LLAMA-GO</div>
    <div class="rights">
      <span class="settings">
        <span nz-icon nzType="setting" nzTheme="outline" (click)="showSettingsModal()"></span>
      </span>
      <a href="https://github.com/blacktear23/llama-go">
        <span nz-icon nzType="github" nzTheme="outline"></span>
        GitHub
      </a>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div #messageContainer class="message-container">
        <nz-alert class="message-line"
          *ngFor="let item of messages" 
          [nzType]="getMsgType(item)"
          [nzMessage]="msgTpl"
          [nzShowIcon]="true"
          [nzIcon]="iconTpl">
          <ng-template #iconTpl>
            <span nz-icon [nzType]="getMsgIcon(item)" nzTheme="outline"></span>
            :
          </ng-template>
          <ng-template #msgTpl>
            <span *ngIf="!item.loading" [innerHTML]="item.text|safeHtml"></span>
            <span *ngIf="item.loading" nz-icon nzType="sync" [nzSpin]="true"></span>
          </ng-template>
        </nz-alert>
      </div>
    </div>
    <div>
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input #promptInput type="text" nz-input placeholder="input prompt" [(ngModel)]="prompt" [disabled]="loading" (keyup.enter)="send()"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="default" nzSize="large" (click)="send()" [nzLoading]="loading">
          <span nz-icon nzType="send" nzTheme="outline"></span>
        </button>
      </ng-template>
    </div>
    <nz-modal 
      [(nzVisible)]="settingsModal"
      [nzFooter]="modalFooter"
      nzTitle="The first Modal"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleOk()"
      nzCancelDisabled="true">
      <ng-container *nzModalContent>
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="max-tokens">Max Tokens</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="max-tokens" name="max-tokens" [(ngModel)]="maxTokens" [nzStep]="1"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="top-k">Top K</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="top-k" name="top-k" [(ngModel)]="topK" [nzStep]="1"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="top-p">Top P</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="top-p" name="top-p" [(ngModel)]="topP" [nzStep]="0.01"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="temp">Temperature</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="temp" name="temp" [(ngModel)]="temp" [nzStep]="0.01"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="repeat-penalty">Repeat Penalty</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="repeat-penalty" name="repeat-penalty" [(ngModel)]="repeatPenalty" [nzStep]="0.1"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="repeat-lastn">Repeat LastN</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="repeat-lastn" name="repeat-lastn" [(ngModel)]="repeatLastN" [nzStep]="1"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="num-history-prompts">Number History Charts</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number nz-input id="num-history-prompts" name="num-history-prompts" [(ngModel)]="numHistoryPrompts" [nzStep]="1"/>
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-container>
      <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="handleOk()">OK</button>
      </ng-template>
    </nz-modal>
  </nz-content>
  <nz-footer>llama-go Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>