<nz-layout>
  <nz-header>
    <div class="logo">LLAMA-GO</div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div #messageContainer class="message-container">
        <nz-alert class="message-line"
          *ngFor="let item of messages" 
          [nzType]="getMsgType(item)"
          [nzMessage]="msgTpl"
          [nzShowIcon]="true"
          [nzIcon]="iconTpl">
          <ng-template #iconTpl>
            <span nz-icon [nzType]="getMsgIcon(item)" nzTheme="outline"></span>
            :
          </ng-template>
          <ng-template #msgTpl>
            <span *ngIf="!item.loading">{{item.text}}</span>
            <span *ngIf="item.loading" nz-icon nzType="sync" [nzSpin]="true"></span>
          </ng-template>
        </nz-alert>
      </div>
    </div>
    <div>
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input prompt" [(ngModel)]="prompt" [disabled]="loading"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="default" nzSize="large" (click)="send()" [nzLoading]="loading">
          <span nz-icon nzType="send" nzTheme="outline"></span>
        </button>
      </ng-template>
    </div>
  </nz-content>
  <nz-footer>llama-go Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>